<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.shop.mapper.StoreCouponIssueUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, issue_coupon_id, add_time
    </sql>

    <select id="getStoreCouponIssueUserById" resultType="co.lq.modules.shop.web.vo.StoreCouponIssueUserQueryVo">
        select <include refid="Base_Column_List"/> from store_coupon_issue_user where id = #{id}
    </select>

    <select id="getStoreCouponIssueUserPageList" resultType="co.lq.modules.shop.web.vo.StoreCouponIssueUserQueryVo">
        select <include refid="Base_Column_List"/> from store_coupon_issue_user
    </select>

</mapper>
