<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.shop.mapper.StoreProductAttrValueMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, suk, stock, sales, price, image, unique, cost
    </sql>

    <select id="getStoreProductAttrValueById" resultType="co.lq.modules.shop.web.vo.StoreProductAttrValueQueryVo">
        select <include refid="Base_Column_List"/> from store_product_attr_value where id = #{id}
    </select>

    <select id="getStoreProductAttrValuePageList" resultType="co.lq.modules.shop.web.vo.StoreProductAttrValueQueryVo">
        select <include refid="Base_Column_List"/> from store_product_attr_value
    </select>

</mapper>
