<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.shop.mapper.StoreProductMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, image, slider_image, product_name, store_info, keyword, bar_code, price, vip_price, ot_price, postage, unit_name, sort, sales, stock, is_show, is_hot, is_benefit, is_best, is_new, description, add_time, is_postage, is_del, mer_use, give_integral, cost, is_seckill, is_bargain, is_good, ficti, browse, code_path, soure_link, store_id, catalog_id, feight_template_id, weight
    </sql>

    <select id="getStoreProductById" resultType="co.lq.modules.shop.web.vo.StoreProductQueryVo">
        select <include refid="Base_Column_List"/> from store_product where is_del=0 and is_show=1 and id = #{id}
    </select>

    <select id="getStoreProductPageList" resultType="co.lq.modules.shop.web.vo.StoreProductQueryVo">
        select <include refid="Base_Column_List"/> from store_product
    </select>

</mapper>
