<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.shop.mapper.StoreCouponIssueMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, start_time, end_time, total_count, remain_count, is_permanent, status, is_del, add_time
    </sql>

    <select id="getStoreCouponIssueById" resultType="co.lq.modules.shop.web.vo.StoreCouponIssueQueryVo">
        select <include refid="Base_Column_List"/> from store_coupon_issue where id = #{id}
    </select>

    <select id="getStoreCouponIssuePageList" resultType="co.lq.modules.shop.web.vo.StoreCouponIssueQueryVo">
        select <include refid="Base_Column_List"/> from store_coupon_issue
    </select>

</mapper>
