<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.user.mapper.UserBillMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, link_id, pm, title, category, type, number, balance, mark, add_time, status, store_id
    </sql>

    <select id="getUserBillById" resultType="co.lq.modules.user.web.vo.UserBillQueryVo">
        select <include refid="Base_Column_List"/> from user_bill where id = #{id}
    </select>

    <select id="getUserBillPageList" resultType="co.lq.modules.user.web.vo.UserBillQueryVo">
        select <include refid="Base_Column_List"/> from user_bill
    </select>

</mapper>
