<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.user.mapper.UserTaskFinishMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, uid, status, add_time
    </sql>

    <select id="getUserTaskFinishById" resultType="co.lq.modules.user.web.vo.UserTaskFinishQueryVo">
        select <include refid="Base_Column_List"/> from user_task_finish where id = #{id}
    </select>

    <select id="getUserTaskFinishPageList" resultType="co.lq.modules.user.web.vo.UserTaskFinishQueryVo">
        select <include refid="Base_Column_List"/> from user_task_finish
    </select>

</mapper>
