<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.user.mapper.UserTaskMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, real_name, task_type, number, level_id, sort, is_show, is_must, illustrate, add_time, store_id
    </sql>

    <select id="getSystemUserTaskById" resultType="co.lq.modules.user.web.vo.UserTaskQueryVo">
        select <include refid="Base_Column_List"/> from user_task where id = #{id}
    </select>

    <select id="getSystemUserTaskPageList" resultType="co.lq.modules.user.web.vo.UserTaskQueryVo">
        select <include refid="Base_Column_List"/> from user_task
    </select>

</mapper>
