<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.user.mapper.UserExtractMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, real_name, extract_type, bank_code, bank_address, alipay_code, extract_price, mark, balance, fail_msg, fail_time, add_time, status, wechat
    </sql>

    <select id="getUserExtractById" resultType="co.lq.modules.user.web.vo.UserExtractQueryVo">
        select <include refid="Base_Column_List"/> from user_extract where id = #{id}
    </select>

    <select id="getUserExtractPageList" resultType="co.lq.modules.user.web.vo.UserExtractQueryVo">
        select <include refid="Base_Column_List"/> from user_extract
    </select>

</mapper>
