<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.user.mapper.WechatUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, unionid, openid, routine_openid, nickname, headimgurl, sex, city, language, province, country, remark, groupid, tagid_list, subscribe, subscribe_time, add_time, stair, second, order_stair, order_second, now_money, session_key, user_type
    </sql>

    <select id="getWechatUserById" resultType="co.lq.modules.user.web.vo.WechatUserQueryVo">
        select <include refid="Base_Column_List"/> from wechat_user where uid = #{id}
    </select>

    <select id="getWechatUserPageList" resultType="co.lq.modules.user.web.vo.WechatUserQueryVo">
        select <include refid="Base_Column_List"/> from wechat_user
    </select>

</mapper>
