<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.order.mapper.StoreOrderMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, uid, real_name, user_phone, user_address, cart_id, freight_price, total_num, total_price, total_postage, pay_price, pay_postage, deduction_price, coupon_id, coupon_price, paid, pay_time, pay_type, add_time, status, refund_status, refund_reason_wap_img, refund_reason_wap_explain, refund_reason_time, refund_reason_wap, refund_reason, refund_price, delivery_name, delivery_type, delivery_id, gain_integral, use_integral, back_integral, mark, is_del, `unique`, remark, mer_id, is_mer_check, combination_id, pink_id, cost, seckill_id, bargain_id, verify_code, store_id, shipping_type, is_channel, is_remind, is_system_del, shop_id, pid, integral_id, promotion_price, store_promotion_price, charge_price, settlement_status
    </sql>

    <select id="getStoreOrderById" resultType="co.lq.modules.order.web.vo.StoreOrderQueryVo">
        select <include refid="Base_Column_List"/> from store_order where id = #{id}
    </select>

    <select id="getStoreOrderPageList" resultType="co.lq.modules.order.web.vo.StoreOrderQueryVo">
        select <include refid="Base_Column_List"/> from store_order
    </select>

    <select id="getStoreOrderListByPid" resultType="co.lq.modules.order.web.vo.StoreOrderQueryVo">
        select <include refid="Base_Column_List"/> from store_order where pid = #{pid}
    </select>

</mapper>
