<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lq.modules.activity.mapper.StoreSeckillMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, image, images, title, info, price, cost, ot_price, give_integral, sort, stock, sales, unit_name, postage, description, start_time, stop_time, add_time, status, is_postage, is_del, num, is_show, end_time_date, start_time_date, store_id
    </sql>

    <select id="getStoreSeckillById" resultType="co.lq.modules.activity.web.vo.StoreSeckillQueryVo">
        select <include refid="Base_Column_List"/> from store_seckill where id = #{id}
    </select>

    <select id="getStoreSeckillPageList" resultType="co.lq.modules.activity.web.vo.StoreSeckillQueryVo">
        select <include refid="Base_Column_List"/> from store_seckill
    </select>

</mapper>
